<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="title" content="Josiah Mokobo">
  <meta name="description"
    content="I am a results-driven Full-Stack Engineer with a proven track record of building robust, secure, and user-friendly web applications. I leverage JavaScript, PHP, and Node.js to deliver efficient and scalable solutions.  My experience extends across the entire web development lifecycle, coupled with strong communication, collaboration, and problem-solving skills. I am adept at optimizing performance, improving user experience, and driving operational efficiency.">
  <meta name="keywords" content="jmnyarega, josiah mokobo, josiah nyarega">
  <meta name="robots" content="index, follow">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="language" content="English">
  <meta name="revisit-after" content="1 days">
  <meta name="author" content="Josiah Mokobo Nyarega">

  <title>{{ title | slug }}</title>
  <link rel="icon" href="../images/favicon.png" type="image/png" />
  <link rel="stylesheet" href="../css/home/style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Ubuntu:wght@300;400&display=swap"
    rel="stylesheet" />
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-1S5YWCJ7XV"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-1S5YWCJ7XV');
  </script>
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WFGNLGDH" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <header class="header u-container">
    <a href="/">
      <img class="header__logo" src="../images/josiah.png" alt="Josiah's Portfolio - Home" width="64px" />
    </a>
    <input type="checkbox" id="toggle" />
    <label for="toggle" class="hamburger">
      <span class="top"></span>
      <span class="middle"></span>
      <span class="bottom"></span>
    </label>
    <nav class="nav u-container">
      <ul class="nav__items">
        <li class="nav__item"><a class="nav__link" href="/blog">blogs</a></li>
      </ul>
    </nav>
  </header>
  {{ content | safe }}
  <footer class="center">
    {{ title }}
    &copy; build with eleventy
  </footer>

  <script type="text/javascript" data-cmp-ab="1"
    src="https://cdn.consentmanager.net/delivery/autoblocking/5d3b990642bf7.js"
    data-cmp-host="a.delivery.consentmanager.net" data-cmp-cdn="cdn.consentmanager.net" data-cmp-codesrc="16"></script>
</body>

</html>
