.projects {

    &__title {
        font-family: $ff-alt;
        font-size: 1.8rem;
        text-align: center;
        margin-bottom: 2rem;
        position: relative;

        width: max-content;
        margin-inline: auto;

        &::after {
            content: "";
            height: 5px;;
            background-color: currentColor;
            border-radius: 0.5rem;

            position: absolute;
            bottom: -5px;
            left: 0;
            right: 0;
        }
    }

    &__img {

    }

    &__item {
        border-radius: 0.6rem;
    }

    &__link {
        text-decoration: none;
        color: inherit;
    }

    &__items {
        display: grid;
        justify-content: center;
        gap: 1.5rem;
        @media (min-width: 45rem) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (min-width: 60rem) {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

.project {
    max-width: 50ch;
    box-shadow: 0 0 10px 5px hsla(204, 22%, 10%, 0.5);
    justify-self: center;
    border-radius: 0.6rem;

    &__content, &__cta, &__tags {
        padding: 1.5rem;
    }

    &__img {
        object-fit: cover;
        mix-blend-mode: luminosity;
        border-radius: 0.6rem 0.6rem 0 0;
    }

    &__title {
        font-family: $ff-alt;
        text-transform: capitalize;
        line-height: 1;
        font-size: 2rem;
    }

    &__description {
        margin-top: 1rem;
        min-height: 5rem;
    }

    &__cta {
        margin-bottom: auto;
        display: flex;
        justify-content: space-between;
        a {
            outline: none;
            border: 1px solid transparent;
            border-radius: 0.5rem;

            text-decoration: none;
            text-transform: capitalize;
            font: inherit;
            color: inherit;
            background-color: hsla(204, 22%, 30%, 1);

            padding: 0.5em 1rem;

            &:hover, &:focus {
                opacity: 0.5;
            }
        }
    }

    &__tags {
        display: flex;
        column-gap: 1rem;
    }

     &__tag {
        background-color: hsla(204, 22%, 80%, 0.5);
        padding: 0.25em 0.8em;
        font-size: 0.8rem;
        border-radius: 0.5rem;
    }
}
