@import "../../node_modules/tailwindcss/index.css";

@import '../shared/abstract/fonts';
@import '../shared/reset';
@import '../shared/util';
@import './header';
@import './hamburger';
@import './hero';
@import './projects';

body {
  background: url(../../images/background-stars.svg);
  background-color: hsl(204, 22%, 15%);
  color: hsl(204, 22%, 80%);
  font-family: $ff-default;

  text-align: center;

  @media (min-width: 60rem) {
    text-align: initial;
  }
}

.contact-info {
  list-style-type: none;
  margin-top: 2rem !important;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  font-size: 0.875rem;

  a {
    font: inherit;
    font-style: italic;
    color: inherit;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    align-items: center;
  }
}

footer {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}
