.list {
    margin-top: 1.5rem;
    background-color: $white;
    border-radius: 0.5rem;
    padding-block: 1.1875rem;
    box-shadow: 0 5px 5px 1px  rgba($color: $very-dark-blue, $alpha: 0.2);

    input { display: none }

    &__items {
        list-style: none;
    }

    &__item {
        display: flex;
        align-items: center;
        padding-inline: 1.1875rem;

        cursor: pointer;
        &:hover {
            color: $very-dark-blue;

            .list__delete {
                opacity: 1;
            }
        }
    }

    &__item {
        border-bottom: 1px solid $light-grayish-blue;
    }

    &__delete {
        margin-left: auto;
        opacity: 0;
        transition: all 350ms linear;
    }

    &__check {
        width: 1.5rem;
        height: 1.5rem;
        border: 1px solid $light-grayish-blue;
        border-radius: 50%;
        margin: 0.875rem;

        cursor: pointer;

        min-width: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    input[type=checkbox] {
        position: absolute;
        z-index: -1;
        top: 5rem;

        &:checked ~ label > img {
            opacity: 1;
            height: auto;

            object-fit: cover;
            border-radius: 50%;
        }

        &:checked ~ .list__value {
            color: $dark-grayish-blue;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                right: 100%;
                transform: translateY(-50%);

                height: 1px;
                background-color: currentColor;
                animation: cross 350ms linear forwards;
            }

            @keyframes cross {
                to {
                    right: 0;
                }
            }

        }

        &:checked ~ label {
            background: linear-gradient($background-gradient-1, $background-gradient-2);
            border: 1px solid transparent;
        }

        &:not(:checked):hover ~ label {
            position: relative;
            background: linear-gradient($background-gradient-1, $background-gradient-2);
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: inherit;
                height: calc(1.5rem - 3px);
                width: calc(1.4rem - 3px);
                background-color: $white;
            }
        }
    }
}
