.switch {
    input { display: none; }
    label { cursor: pointer; }
}

.toggle {
    &__dark, &__light {
        transition: all 350ms linear;
    }

    &__dark {
        opacity: 0;
        height: 0;
    }
}

#toggle:checked + label > .toggle__dark {
    opacity: 1;
    height: auto;
    transform: rotate(360deg);
}

#toggle:checked + label > .toggle__light {
    opacity: 0;
    height: 0;
    transform: rotate(360deg);
}


