<header class="header u-container">
  <h1 class="header__title">Todo</h1>
  <div class="switch">
    <input type="checkbox" id="toggle" />
    <label for="toggle">
      <img
        src="./images/icon-moon.svg"
        alt="switch dark theme"
        class="toggle__dark"
      />
      <img
        src="./images/icon-sun.svg"
        alt="switch light theme"
        class="toggle__light"
      />
    </label>
  </div>
</header>
<main class="u-container">
  <div class="input">
    <form name="new-item" class="input__form">
      <input type="checkbox" id="completed" />
      <label for="completed" class="input__check">
        <img src="./images/icon-check.svg" alt="" />
      </label>
      <input
        type="text"
        name=""
        id=""
        placeholder="Create a new todo"
        class="input__item"
      />
    </form>
  </div>
  <section class="list">
    <ul class="list__items">
      <li class="list__item">
        <input type="checkbox" id="check" />
        <label for="check" class="list__check">
          <img src="./images/icon-check.svg" alt="" />
        </label>
        <span class="list__value">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, quasi.
        </span>
        <span class="list__delete">
          <img src="./images/icon-cross.svg" alt="" />
        </span>
      </li>
      <li class="list__item">
        <input type="checkbox" id="check1" />
        <label for="check1" class="list__check">
          <img src="./images/icon-check.svg" alt="" />
        </label>
        <span class="list__value">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo,
          recusandae.
        </span>
        <span class="list__delete">
          <img src="./images/icon-cross.svg" alt="" />
        </span>
      </li>
    </ul>
    <div class="status-bar">
      <a href="#0" class="status-bar__left">5 items left</a>
      <ul class="status-bar__filter">
        <li><a class="all -active" href="">all</a></li>
        <li><a class="active" href="">active</a></li>
        <li><a class="completed" href="">completed</a></li>
      </ul>
      <a href="#0">clear completed</a>
    </div>
  </section>
  <div id="app">
    <span v-bind:title="message">
      {{ message }}
    </span>
  </div>
</main>

<footer class="footer"></footer>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="./js/index.js"></script>
