*,
*::before,
*::after {
  box-sizing: border-box; }

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0; }

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0; }

/* Set core root defaults */
html {
  scroll-behavior: smooth; }

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block; }

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em; }

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit; }

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px); }

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

body {
  background-color: #090b1a;
  color: white;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 90rem;
  width: 80%;
  margin-inline: auto; }
  @media (min-width: 63rem) {
    body {
      text-align: initial; } }

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
  background-color: #1b1938;
  padding-bottom: 2rem;
  border-radius: 0.5rem;
  overflow: hidden; }
  @media (min-width: 63rem) {
    .card {
      flex-direction: row-reverse;
      padding-bottom: 0; } }
  .card__img {
    position: relative; }
    .card__img::after {
      content: "";
      position: absolute;
      inset: 0;
      background-color: #aa5cdb;
      mix-blend-mode: multiply; }
  .card__content {
    padding-inline: 2rem; }
  .card__title {
    font-weight: bolder;
    line-height: 1.2;
    margin-bottom: 2rem;
    max-width: 18ch;
    margin-inline: auto; }
    @media (min-width: 63rem) {
      .card__title {
        margin-inline: initial; } }
    .card__title .-accent {
      color: #aa5cdb; }
  .card__text {
    color: rgba(255, 255, 255, 0.75);
    max-width: 40ch;
    margin-inline: auto;
    margin-bottom: 2rem; }
    @media (min-width: 63rem) {
      .card__text {
        margin-inline: initial;
        margin-bottom: 5rem; } }

.stats {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  font-family: "Lexend Deca", sans-serif; }
  @media (min-width: 63rem) {
    .stats {
      max-width: 90%;
      flex-direction: row;
      justify-content: space-between;
      column-gap: 0; } }
  .stats__value {
    font-weight: bolder;
    font-size: 2rem;
    margin-bottom: 0.5rem; }
  .stats__header {
    color: rgba(255, 255, 255, 0.6);
    font-weight: normal;
    font-size: 0.8rem;
    text-transform: uppercase; }
