<main>
  <section class="countdown">
    <h1 class="countdown__title">We're launching soon</h1>

    <div class="countdown__container">
      <div is="countdown-element">
        <p class="countdown__value" slot="value">04</p>
        <span class="countdown__label" slot="name"> days </span>
      </div>

      <div is="countdown-element">
        <p class="countdown__value" slot="value">03</p>
        <span class="countdown__label" slot="name"> hours </span>
      </div>

      <div is="countdown-element">
        <p class="countdown__value" slot="value">11</p>
        <span class="countdown__label" slot="name"> minutes </span>
      </div>

      <div is="countdown-element">
        <p class="countdown__value" slot="value">08</p>
        <span class="countdown__label" slot="name"> seconds </span>
      </div>
    </div>
  </section>
</main>
<footer class="footer">
  <ul class="footer__social social">
    <li class="social__icon">
      <a class="social__link" href="#0">
        <img src="./images/icon-facebook.svg" alt="" aria-hidden="true" />
      </a>
    </li>
    <li class="social__icon">
      <a class="social__link" href="#0">
        <img src="./images/icon-pinterest.svg" alt="" aria-hidden="true" />
      </a>
    </li>
    <li class="social__icon">
      <a class="social__link" href="#0">
        <img src="./images/icon-instagram.svg" alt="" aria-hidden="true" />
      </a>
    </li>
  </ul>
</footer>

<script src="./js/index.js"></script>
