@import '../../../css/shared/reset';
  
$very-dark-blue: hsl(233, 47%, 7%); 
$dark-desaturated-blue: hsl(244, 38%, 16%); 
$soft-violet: hsl(277, 64%, 61%); 
$white: hsl(0, 0%, 100%); 
$slightly-transparent-white-1: hsla(0, 0%, 100%, 0.75); 
$slightly-transparent-white-2: hsla(0, 0%, 100%, 0.6); 

body {
    background-color: $very-dark-blue;
    color: $white;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 90rem;
    width: 80%;
    margin-inline: auto;

    @media (min-width: 63rem) {
        text-align: initial;
    }
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;

    background-color: $dark-desaturated-blue;
    padding-bottom: 2rem;
    border-radius: 0.5rem;
    overflow: hidden;

    @media (min-width: 63rem) {
        flex-direction: row-reverse;
        padding-bottom: 0;
    }

    &__img {
        position: relative;
        isolation: isolate;
        &::after {
            content: "";
            position: absolute;
            inset: 0;

            background-color: $soft-violet;
            mix-blend-mode: multiply;
            opacity: 0.9;
        }
    }

    &__content {
        padding-inline: 2rem;
    }

    &__title {
        font-weight: bolder;
        line-height: 1.2;

        margin-bottom: 2rem;
        max-width: 18ch;
        margin-inline: auto;

        @media (min-width: 63rem) {
            margin-inline: initial;
        }

        .-accent {
            color: $soft-violet;
        }
    }

    &__text {
        color: $slightly-transparent-white-1;
        max-width: 40ch;
        margin-inline: auto;
        margin-bottom: 2rem;

        @media (min-width: 63rem) {
            margin-inline: initial;
            margin-bottom: 5rem;
        }
    }
}

.stats {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    font-family: "Lexend Deca", sans-serif;

    @media (min-width: 63rem) {
        max-width: 90%;

        flex-direction: row;
        justify-content: space-between;
        column-gap: 0;
    }

    &__value {
        font-weight: bolder;
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }

    &__header {
        color: $slightly-transparent-white-2;
        font-weight: normal;
        font-size: 0.8rem;
        text-transform: uppercase;
    }
}
