<header class="header u-container">
  <img
    class="header__logo"
    src="./images/josiah.png"
    alt="Josiah's Portfolio - Home"
    width="64px"
  />
  <input type="checkbox" id="toggle" />
  <label for="toggle" class="hamburger">
    <span class="top"></span>
    <span class="middle"></span>
    <span class="bottom"></span>
  </label>
  <nav class="nav u-container">
    <ul class="nav__items">
      <li class="nav__item">
        <a class="nav__link" href="#projets">projects</a>
      </li>
      <li class="nav__item"><a class="nav__link" href="#0">blogs</a></li>
      <li class="nav__item"><a class="nav__link" href="#0">contact</a></li>
      <li class="nav__item"><a class="nav__link" href="#0">credits</a></li>
    </ul>
  </nav>
</header>
<main>
  <section class="hero u-container">
    <h1 class="hero__title">Josiah Mokobo Nyarega</h1>
    <div class="address">
      <p class="address__title">Front-end web developer</p>
      <address class="address__address">Nairobi, Kenya</address>
    </div>
  </section>
  <section class="projects u-container" id="projects">
    <h2 class="projects__title">Projects</h2>
    <ul class="projects__items">
      {%- for project in links -%}
      <li class="projects__item project">
        <img
          src="{{ project.image }}"
          alt="{{ project.name }}"
          class="project__img"
        />

        <div class="project__content">
          <h3 class="project__title">{{ project.name }}</h3>
          <p class="project__description">{{ project.description }}</p>
        </div>

        <div class="project__tags">
          {%- for tag in project.tags -%}
          <span class="project__tag">{{ tag }}</span>
          {%- endfor -%}
        </div>

        <div class="project__cta">
          <a href="{{ project.link }}" class="project__open">view project</a>
          <a href="{{ project.code }}" class="project__open">github</a>
        </div>
      </li>
      {%- endfor -%}
    </ul>
  </section>
</main>

<footer>
  {{ title }}
  &copy; build with eleventy
</footer>
