
<main>
  <section class="hero u-container">
    <h1 class="hero__title">{{ info.full_name }}</h1>
    <div class="address">
      <p class="address__title">{{ info.position }}</p>
      <address class="address__address">{{ info.location }}</address>
        <ul class="contact-info">
          {%- for media in info.socialmedia  -%}
            <li>
                <a target="_blank" href="{{ media.url }}">
                    {{media.name}}
                    <img height="20" with="32" src="{{ media.logo }}" alt="{{media.name}}" />
                </a>
            </li>
          {%- endfor -%}
        </ul>
    </div>
  </section>
  <article class="projects u-container" id="projects">
    <h2 class="projects__title">Projects</h2>
    <ul class="projects__items">
      {%- for project in links -%}
      <li class="projects__item project">
        <img
          src="{{ project.image }}"
          alt="{{ project.name }}"
          class="project__img"
        />

        <div class="project__content">
          <h3 class="project__title">{{ project.name }}</h3>
          <p class="project__description">{{ project.description }}</p>
        </div>

        <div class="project__tags">
          {%- for tag in project.tags -%}
          <span class="project__tag">{{ tag }}</span>
          {%- endfor -%}
        </div>

        <div class="project__cta">
          {% if(project.value) %}
              <a target="_blank" href="{{ project.value }}" class="project__open">view project</a>
          {% endif %}
          {% if(project.code) %}
              <a target="_blank" href="{{ project.code }}" class="project__open">github</a>
          {% endif %}
        </div>
      </li>
      {%- endfor -%}
    </ul>
  </article>
</main>

