<main>
  <div class="card">
    <picture class="card__img">
      <source
        media="(min-width: 63rem)"
        srcset="./images/image-header-desktop.jpg"
        aria-hidden="true"
      />
      <img src="./images/image-header-mobile.jpg" alt="" aria-hidden="true" />
    </picture>
    <div class="card__content">
      <h1 class="card__title">
        Get <span class="-accent"> insights </span>that help your business grow.
      </h1>
      <p class="card__text">
        Discover the benefits of data analytics and make better decisions
        regarding revenue, customer experience,and overall efficiency.
      </p>
      <div class="card__stats stats">
        {%- for stat in stats -%}
        <div class="stat">
          <strong class="stats__value">{{ stat.value }}</strong>
          <p class="stats__header">{{ stat.header }}</p>
        </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</main>
